<!DOCTYPE html>
<html ng-app="appname">

  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="./js/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
    <script type="text/javascript" src="./js/service.js"></script>
<title>Fresh Tomators</title>
<link href="css/angular-bootstrap.css" rel="stylesheet">
<style type="text/css">



</style>
  </head>

  <body>
    <div ng-controller="appCtrl">
      <p>{{greeting.text}}, world </p>
    </div>
        <div ng-controller="PostsCtrl">
        I have <span ng-bind="names.length"></span>friends. They are:
        <ul>
          <li ng-repeat="name in names">
            [{{$index + 1}}] {{name}}.
          </li>
        </ul>
    </div>
       <div class="container" ng-controller="AppController">
      <div class="page-header">
        <h1>Movie List</h1>
      </div>
      <div class="listMovies" ng-show="movies && movies.length > 0">
      <ul>
      {{movies.length}}
            {{movies.length > 0}}
      
        <li ng-repeat="movie in query"> {{ movie.name }} , {{ movie.imageUrl }}. {{ movie.rating }} </li>
      </ul>
      </div>
            {{movies.length}}
                  {{movies.length > 0}}
      
      <div class="listMovies" ng-hide="movies && movies.length > 0">
      
      <div class="alert alert-info" role="alert" ng-hide="movies && movies.length > 0">
        There are no movies yet.
      </div> 
  </body>

</html>